<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <title>New Signature</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style>
		body { margin: 0; background-color: black; color: white; font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; }header { display: flex; justify-content: space-between; width: 100%; height: 4rem; background-color: black; }.left { position: relative; left: 1.4rem; top: 1rem; width: 1.8rem; height: 1.8rem; background-color: black; }h3 { text-align: center; font-weight: 400; font-size: 23px; }.sub { font-size: 17px; color: #7C7C7C; }.scanner { margin: auto; width: 20rem; max-width: 95%; height: 20rem; background-color: #000; overflow: hidden; display: flex; justify-content: center; align-items: center;}.vid { height: auto; width: auto; justify-self: center; }.container { position: relative; top: 1rem; margin: auto; width: 21rem; height: 21rem; background-color: black; background-image: url("https://securesign.dotdevs.xyz/img/curves.svg"); background-position: center; background-size: cover;display: flex; justify-content: center; align-items: center; margin-bottom: 3.2rem; }
    </style>
</head>
<body>
    <header>
        <div class="left" onclick="window.history.back();" style="cursor: pointer;">
            <img src="img/closeIco.svg" width="100%" height="100%">
        </div>
        <div></div>
    </header>
    <h3>Place the code inside the area<br><span class="sub">Scanning will start automatically</span></h3>
    
    <div class="container">
      	<div class="scanner">
        	<video class="vid" autoplay="true" id="preview"></video>
    	</div>
	</div>

	<!-- <div class="divider"><div class="leftLine vc"></div><h5>OR</h5><div class="rightLine vc"></div></div>
	<input type="text" name="id"> -->

	<form name="scanner" id="scanner" action="/sign" method="POST">
		<input type="hidden" name="id" id="id" value="<%=id%>">
		<input type="hidden" name="name" id="name" value="<%=name%>">
		<input type="hidden" name="code" id="code" value="">
	</form>
</body>
<script>
    var scanner = new Instascan.Scanner({
      video: document.getElementById('preview'),
      scanPeriod: 5,
      mirror: false,
    });
    scanner.addListener('scan', function (content) {
		console.log(content)
        if (content.length == 8) {
            console.log('trigggered!')
            document.getElementById("code").value = content;
            document.forms['scanner'].submit();
        } else {
            return;
        }
    });
    Instascan.Camera.getCameras()
      .then(function (cameras) {
        if (cameras.length > 0) {
          if (cameras.length >= 2) {
            //Two or more cams => Mobile
            scanner.start(cameras[1]);
          } else {
            //One cam => PC
            scanner.start(cameras[0]);
          }
  
          $('[name="options"]').on('change', function () {
            if ($(this).val() == 1) {
              if (cameras[0] != '') {
                scanner.start(cameras[0]);
              } else {
                alert('No Front camera found!');
              }
            } else if ($(this).val() == 2) {
              if (cameras[1] != '') {
                scanner.start(cameras[1]);
              } else {
                alert('No Back camera found!');
              }
            }
          });
        } else {
          console.error('No cameras found.');
          alert('No cameras found.');
        }
      })
      .catch(function (e) {
        console.error(e);
        alert(e);
      });
</script>
</html>

<!-- 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200&display=swap"rel="stylesheet"/>

		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<title>Scanner</title>
		<style>
			body {
				margin: 0;
				background-color: black;
				font-family: 'Poppins';
			}

			.midFrame {
				width: 20rem;
				max-width: 95%;
				height: 20rem;
				margin: auto;
				margin-top: 8rem;
				background-color: rgb(47, 47, 47);
				border-radius: 12px;
                border: 4px solid rgb(255, 255, 255);
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.header {
				display: flex;
				justify-content: space-between;
				width: 100%;
				height: 4rem;
				background-color: black;
			}

			.left {
				position: relative;
				cursor: pointer;
				width: 1.8rem;
				height: 1.8rem;
				background-color: black;
				top: 1.6rem;
				left: 1rem;
			}

			h3 {
				font-family: 'Poppins';
				margin: 0;
				margin-top: 1.6rem;
				font-weight: 400;
				color: white;
			}

			.vid {
				border-radius: 12px;
				height: auto;
				width: auto;
				justify-self: center;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="left" onclick="window.history.back();">
				<img src="img/closeIco.svg" width="100%" />
			</div>
			<h3>Signature Scanner</h3>
			<div class="rght"></div>
		</div>
		<div class="midFrame" id="mid">
			<video class="vid" autoplay="true" id="preview"></video>
		</div>
        <form name="scanner" id="scanner" action="/sign" method="POST">
			<input type="hidden" name="id" id="id" value="<%=id%>">
			<input type="hidden" name="name" id="name" value="<%=name%>">
            <input type="hidden" name="code" id="code" value="">
        </form>
    </body>
	<script>
		var scanner = new Instascan.Scanner({
			video: document.getElementById('preview'),
			scanPeriod: 5,
			mirror: false,
		});
		scanner.addListener('scan', function (content) {
            console.log(content)
            if (content.length == 8) {
                console.log('trigggered!')
                document.getElementById("code").value = content;
                document.forms['scanner'].submit();
            } else {
                return;
            }
		});
		Instascan.Camera.getCameras()
			.then(function (cameras) {
				if (cameras.length > 0) {
					if (cameras.length >= 2) {
						//Two or more cams => Mobile
						scanner.start(cameras[1]);
					} else {
						//One cam => PC
						scanner.start(cameras[0]);
					}

					$('[name="options"]').on('change', function () {
						if ($(this).val() == 1) {
							if (cameras[0] != '') {
								scanner.start(cameras[0]);
							} else {
								alert('No Front camera found!');
							}
						} else if ($(this).val() == 2) {
							if (cameras[1] != '') {
								scanner.start(cameras[1]);
							} else {
								alert('No Back camera found!');
							}
						}
					});
				} else {
					console.error('No cameras found.');
					alert('No cameras found.');
				}
			})
			.catch(function (e) {
				console.error(e);
				alert(e);
			});
	</script>
</html> -->